<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid bg-dark text-white" style="height: 40px;">
    <div class="row ">
        <div class="col-11">
            <h3><p>
                <span th:text="${firstuser}" class="font-weight-bold"> Email </span> with roles:
                <span th:text="${firstrole}"> Role </span>
            </p></h3>
        </div>
        <div th:fragment="logout" class="col-1">
            <a style="text-align:center;color: #cccccc" class="nav-item nav-link pull-xs-right m-l-2 font-weight" href="/logout">Logout</a>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 p-0 mt-2">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="/admin" class="btn btn-primary btn-lg btn-block text-left" role="button">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/">User</a>
                </li>
            </ul>
        </div>
        <div class="col-10 bg-light text-dark">
            <br>
            <h1><p class="font-weight-bold">Admin panel</p></h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link " href="/admin">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active">New User</a>
                </li>
            </ul>


            <div class="container-fluid">
                <h4><p class="left">Add new user</p></h4>
            </div>
            <form role="form" id="userprofile_form" class="ml-auto mr-auto d-flex flex-column justify-content-center align-items-center col-5 bg-white">

                <div class="form-group">
                    <label for="fn" class="d-flex justify-content-center font-weight-bold">First name</label>
                    <input type="text" class="form-control" id="fn" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="ln" class="d-flex justify-content-center font-weight-bold">Last name</label>
                    <input type="text" class="form-control" id="ln" placeholder="Enter last name">
                </div>
                <div class="form-group">
                    <label for="age" class="d-flex justify-content-center font-weight-bold">Age</label>
                    <input type="number" class="form-control" id="age" placeholder="Enter age">
                </div>
                <div class="form-group">
                    <label for="email" class="d-flex justify-content-center font-weight-bold">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password" class="d-flex justify-content-center font-weight-bold">Password</label>
                    <input type="text" class="form-control" id="password" placeholder="Enter password">
                </div>

                <div class="form-group">
                    <label for="newRoles" class="d-flex justify-content-center font-weight-bold">Role</label>
                    <select class="custom-select" id="newRoles" style="width:250px" size="2" multiple>
                        <option value="1">ADMIN</option>
                        <option value="2">USER</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="toAllUserTable" class="btn submit btn-success">Add new user</button>
                </div>
            </form>


        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script defer src="create.js"></script>
</body>
</html>
