<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}"  th:object="${user}" >

    <label for="id">ID</label>
    <input  type="text" th:field="*{id}" id="id"/>
    <br>
    <label for="name">Name</label>
    <input  type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br>
    <label for="password">Password</label>
    <input  type="text" th:field="*{password}" id="password"/>
    <br>
    <p>select roles:</p>
    <select th:name="role" multiple>
    <option  th:each="role : ${roles}" th:text="${role}" th:value="${role}"/>
    </select>
        <br>
    <input type="submit" value="update"/>
</form>
<button>
    <a href="/admin">Exit to Main Page</a>
    <a href="/logout">Logout</a>

</button>
</body>
</html>