<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Users</title>
</head>
<body>
<div class="container-fluid bg-dark text-white" style="height: 40px;">
    <div class="row ">
        <div class="col-11">
            <h3><p>
                <span th:text="${firstuser}" class="font-weight-bold"> Email </span> with roles:
                <span th:text="${firstrole}"> Role </span>
            </p></h3>
        </div>
        <div th:fragment="logout" class="col-1">
            <a style="text-align:center;color: #cccccc" class="nav-item nav-link pull-xs-right m-l-2 font-weight" href="/logout">Logout</a>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 p-0 mt-2">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="/admin" class="btn btn-primary btn-lg btn-block text-left" role="button" >Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/">User</a>
                </li>
            </ul>
        </div>
        <div class="col-10 bg-light text-dark">
            <br>
            <h1><p class="font-weight-bold">Admin panel</p></h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new" method="POST">New User</a>
                </li>
            </ul>
            <div>
                <p></p>
                <h3><p>All users</p></h3>
            </div>
            <div id="userTable">



            </div>

        </div>
    </div>
</div>

<!--        ============ Modal for Edit User ============-->

    <form class="modal-edit-form">

        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="container" align="center">
                        <div class="modal-body col-sm-7">

                            <div class="form-group" align="center">
                                <label for="idEdit" class="col-form-label font-weight-bold">ID</label>
                                <input type="text" class="form-control" id="idEdit" name="id" readonly >
                            </div>

                            <div class="form-group" align="center">
                                <label for="nameEdit" class="col-form-label font-weight-bold">First Name</label>
                                <input type="text" class="form-control" id="nameEdit" name="name" required>
                            </div>

                            <div class="form-group" align="center">
                                <label for="surnameEdit" class="col-form-label font-weight-bold">Last Name</label>
                                <input type="text" class="form-control" id="surnameEdit" name="surname" required>
                            </div>

                            <div class="form-group" align="center">
                                <label for="ageEdit" class="col-form-label font-weight-bold">Age</label>
                                <input type="number" class="form-control" id="ageEdit" name="age" min="0" max="200" step="1" required>
                            </div>

                            <div class="form-group" align="center">
                                <label for="emailEdit" class="col-form-label font-weight-bold">Email</label>
                                <input type="text" class="form-control" id="emailEdit" name="email" required>
                            </div>

                            <div class="form-group" align="center">
                                <label for="passwordEdit" class="col-form-label font-weight-bold">Password</label>
                                <input type="password" class="form-control" id="passwordEdit" name="password" required>
                            </div>

                            <div class="form-group" align="center">
                                <label for="rolesEdit" class="col-form-label font-weight-bold">Role</label>

                                <select class="form-control" multiple name="roles" id="rolesEdit" size="2" required>
                                    <option value='1'> ADMIN </option>
                                    <option value='2'> USER </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" id="edit-inside-modal"> Edit </button>
                    </div>
                </div>
            </div>
        </div>
    </form>


<!--        ============ Modal for Edit User ============-->

<!--        ============ Modal for Delete User ============-->


    <form class="modal-delete-form">

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="container" align="center">
                        <div class="modal-body col-sm-7">

                            <div class="form-group" align="center">
                                <label for="idDelete" class="col-form-label font-weight-bold">ID</label>
                                <input type="text" class="form-control" id="idDelete" name="id" readonly >
                            </div>

                            <div class="form-group" align="center">
                                <label for="nameDelete" class="col-form-label font-weight-bold">First Name</label>
                                <input type="text" class="form-control" id="nameDelete" name="name" readonly >
                            </div>

                            <div class="form-group" align="center">
                                <label for="surnameDelete" class="col-form-label font-weight-bold">Last Name</label>
                                <input type="text" class="form-control" id="surnameDelete" name="surname" readonly >
                            </div>

                            <div class="form-group" align="center">
                                <label for="ageDelete" class="col-form-label font-weight-bold">Age</label>
                                <input type="text" class="form-control" id="ageDelete" name="age" readonly >
                            </div>

                            <div class="form-group" align="center">
                                <label for="emailDelete" class="col-form-label font-weight-bold">Email</label>
                                <input type="text" class="form-control" id="emailDelete" name="email" readonly >
                            </div>

                            <div class="form-group">
                                <label for="rolesDelete" class="col-form-label font-weight-bold">Role</label>
                                <textarea class="form-control" id="rolesDelete" rows="3" readonly></textarea>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" data-dismiss="modal" id="delete-inside-modal"> Delete </button>

                    </div>
                </div>
            </div>
        </div>

    </form>

<!--        ============ Modal for Delete User ============-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="main.js"></script>
</body>
</html>
